@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  /* Typography */
  --fs-root: 62.5%;
  --fs-normal: 1.5rem;
  --font-family: "Outfit", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Media queries */
  --mq-mobile: 375px;
  --mq-desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs-root);
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
  background-color: var(--color-light-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.attribution {
  width: 100%;
  text-align: center;
}

.qr-card {
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  width: 325px;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.qr-card,
.qr-card .qr-img {
  border-radius: 16px;
}

.qr-card .qr-img {
  width: 100%;
}

.qr-title {
  color: var(--color-dark-blue);
  opacity: 0.95;
}

.qr-description {
  font-size: var(--fs-normal);
  color: var(--color-grayish-blue);
  max-width: 85%;
}
